<a href="https://colab.research.google.com/github/Edreth/prova/blob/main/python_class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
if x%2==0:
  print("This number is even!")

This number is even!

In [ ]:
x=7
if x%2==0:
  print("This number is even!")
else:
  print("This is an odd number!")

This is an odd number!

In [ ]:
a=15
b=12
if a==b:
  print("The first numbers are equal")
elif a<b:
  print("The first number is smaller than the second")
else:
  print("The first number is greater than the second")

The first number is greater than the second

In [ ]:
x=0
if x==0:
  print("This number is zero")
elif x<0:
  print("This number is negative")
else:
  print("This number is positive")

This number is zero

In [ ]:
x=-10
if x==0:
  print("This number is zero")
elif x<0:
  print("This number is negative")
else:
  print("This number is positive")

This number is negative

In [ ]:
for i in range(0,6):
  print(i)

0
1
2
3
4
5

In [ ]:
for i in range(0,6):
  print("The iteration number is {}".format(i))

The iteration number is 0
The iteration number is 1
The iteration number is 2
The iteration number is 3
The iteration number is 4
The iteration number is 5

In [ ]:
i=0
while i<5:
  print(i)
  i=i+1
print("THE END!")

0
1
2
3
4
THE END!

In [ ]:
targetvalue =5
iterate =0
while iterate<targetvalue:
  print("iteration number is {}, which is less than the target value {}".format(iterate, targetvalue))
  iterate = iterate+1

iteration number is 0, which is less than the target value 5
iteration number is 1, which is less than the target value 5
iteration number is 2, which is less than the target value 5
iteration number is 3, which is less than the target value 5
iteration number is 4, which is less than the target value 5

In [ ]:
colours =["blue", "red", "black"]
cars=["Audi", "Tesla", "Ford", "BMW"]
for colour in colours:#outer loop
  for car in cars:#inner loop
    print(colour, car)

blue Audi
blue Tesla
blue Ford
blue BMW
red Audi
red Tesla
red Ford
red BMW
black Audi
black Tesla
black Ford
black BMW

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j, end=' ')

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j, end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  print("iteration number is {}, which is less than the target value {}".format(iterate, targetvalue))
  if iterate==3:
    break
  iterate = iterate+1

iteration number is 0, which is less than the target value 6
iteration number is 1, which is less than the target value 6
iteration number is 2, which is less than the target value 6
iteration number is 3, which is less than the target value 6

In [ ]:
targetvalue =6
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==3:
    continue
  print("The iteration value is {}, which is less than the target value {}". format(iterate, targetvalue))

The iteration value is 1, which is less than the target value 6
The iteration value is 2, which is less than the target value 6
The iteration value is 4, which is less than the target value 6
The iteration value is 5, which is less than the target value 6
The iteration value is 6, which is less than the target value 6

In [ ]:
a=1
while a< 100:
  print(a)
  a=a+1
  if a==11:
    break

1
2
3
4
5
6
7
8
9
10

In [ ]:
targetvalue =7
iterate =0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate in range(3,6):
    continue
  print("The iteration value is {}, which is less than the target value {}". format(iterate, targetvalue))

The iteration value is 1, which is less than the target value 7
The iteration value is 2, which is less than the target value 7
The iteration value is 6, which is less than the target value 7
The iteration value is 7, which is less than the target value 7

In [ ]:
mylist=["Michael", "Sean", "Adam"]
print(mylist)

['Michael', 'Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist[0]

'Michael'

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
type(mylist)

list

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist[1:3]

['Sean', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
print(len(mylist))

5

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
if "Sean" in mylist:
  print("Yes the element exist")

Yes the element exist

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.insert(1, "John")
print(mylist)

['Michael', 'John', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.append("Zara")
print(mylist)

['Michael', 'Sean', 'Adam', 5000, True, 'Zara']

In [ ]:
mylist=[1,2,3,4]
mylist.insert(3, 3.1)
print(mylist)

[1, 2, 3, 3.1, 4]

In [ ]:
mylist=[1,2,3,4]
mylist.append(5)
print(mylist)

[1, 2, 3, 4, 5]

In [ ]:
mylist1=["Michael", "Sean", "Adam", 5000, True]
mylist2=["Zara", "Paul", "John"]
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Paul', 'John', 'Michael', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.remove(5000)#removes a certain element
print(mylist)

['Michael', 'Sean', 'Adam', True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.pop(3)#pops a specified index
print(mylist)

['Michael', 'Sean', 'Adam', True]

In [ ]:
mylist=["Michael", "Sean", "Adam", 5000, True]
mylist.pop()#automatically remove last index
print(mylist)

['Michael', 'Sean', 'Adam', 5000]

In [ ]:
#sort ascending
mylist=["Michael", "Sean", "Adam"]
mylist.sort()
print(mylist)

['Adam', 'Michael', 'Sean']

In [ ]:
#sort descending
mylist=["Michael", "Sean", "Adam"]
mylist.sort(reverse=True)
print(mylist)

['Sean', 'Michael', 'Adam']

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist.reverse()
print(mylist)

['Adam', 'Sean', 'Michael']

In [ ]:
mylist1=["Michael", "Sean", "Adam", 5000, True]
mylist2=["Zara", "Paul", "John"]
mylist3=mylist2+mylist1
print(mylist3)

['Zara', 'Paul', 'John', 'Michael', 'Sean', 'Adam', 5000, True]

In [ ]:
mylist1=["Michael", "Sean", "Adam", 5000, True]
help(mylist.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [ ]:
mylist=["Fallout", "Final Fantasy", "FIFA", "Super Mario", "Zelda"]
if "Zelda" in mylist:
  print("Yes this game is available")

Yes this game is available

In [ ]:
mylist=["Google", "Meta", "Instagram", "TikTok", "Snapchat"]
element= input("Please input tech company name (in Capitalised form):")
if element in mylist:
  print("The tech company already exists")
else:
  mylist.append(element)
  print("The new list is:", mylist)

Please input tech company name (in Capitalised form):Twitter
The new list is: ['Google', 'Meta', 'Instagram', 'TikTok', 'Snapchat', 'Twitter']

In [ ]:
mylist=["Fallout", "Final Fantasy", "FIFA", "Super Mario", "Zelda"]
element= input("Please add your favourite game to the list (in Capitalised form):")
if element in mylist:
  print("This videogame is already on your list")
else:
  mylist.append(element)
  print("The new list is:", mylist)

Please add your favourite game to the list (in Capitalised form):Cyberpunk
The new list is: ['Fallout', 'Final Fantasy', 'FIFA', 'Super Mario', 'Zelda', 'Cyberpunk']

TypeError: ignored

In [ ]:
mylist=["Google", "Meta", "Instagram", "TikTok", "Snapchat"]
for element in mylist:
  print(element)

Google
Meta
Instagram
TikTok
Snapchat

In [ ]:
a=[1,2,3,4,5,6,7]#conventional way
#=2,4,6,8,10,12,14
b=[]
for i in a:
  b.append(i*2)
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
a=[1,2,3,4,5,6,7]#comprehension way
b=[i*2 for i in a]
print(b)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
mylist=[1000,20,20120,50,95, 1021]#conventional way
mynewlist=[]
for i in mylist:
  if i<100:
    mynewlist.append(i)
print(mynewlist)

[20, 50, 95]

In [ ]:
mylist=[1000,20,20120,50,95, 1021]#comprehension way
mynewlist=[i for i in mylist if i<100]
print(mynewlist)

[20, 50, 95]

In [ ]:
mylist=["Michael", "Sean", "Adam", "Zara"]#comprehension
mynewlist=[i.upper() for i in mylist]
print(mynewlist)

['MICHAEL', 'SEAN', 'ADAM', 'ZARA']

In [ ]:
mylist=[letter.upper() for letter in "python"]#comprehension
print(mylist)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mylist=[1,2,["a",1],3]#sublist
sublist=mylist[2]
print(sublist)

['a', 1]

In [ ]:
mylist=[1,2,["a",1],3]#sublist
sublist=mylist[2][0]
print(sublist)

a

In [ ]:
mylist=[1,2,["a",1],3]#sublist
sublist=mylist[2][1]
print(sublist)

1

In [ ]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]
rows=len(matrix)
col=len(matrix[0])
print(rows, col)

4 3

In [ ]:
matrix=[[0,1,2],[3,4,5],[6,7,8],[9,10,11]]#rows can be sostitute with the formula
rows=len(matrix)
col=len(matrix[0])
for i in range(0,rows):
  print(matrix[i])

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]
[9, 10, 11]

In [ ]:
matrix[1][0]

3

In [ ]:
matrix[3][1]

10

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}#dictionary
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'Salary': 5000}

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}[filter just employee]
print(mydict["employee"])

Zara

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}#substitute operations with sales
mydict["department"] = "sales"
print(mydict)

{'employee': 'Zara', 'department': 'sales', 'Salary': 5000}

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}#count elements in dictionary
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}#type of list
print(type(mydict))

<class 'dict'>

In [ ]:
mydict={
    1:{"employee":"Zara","department":"operations","Salary": 5000},
    2: {"employee":"Sean","department":"sales","Salary": 4000}
}
print(mydict[1])

{'employee': 'Zara', 'department': 'operations', 'Salary': 5000}

In [ ]:
print(mydict[2])

{'employee': 'Sean', 'department': 'sales', 'Salary': 4000}

In [ ]:
print(mydict[1]["employee"])

Zara

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}
mydict.keys()

dict_keys(['employee', 'department', 'Salary'])

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}
mydict.values()

dict_values(['Zara', 'operations', 5000])

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}
mydict.items()

dict_items([('employee', 'Zara'), ('department', 'operations'), ('Salary', 5000)])

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}
if "department" in mydict:
  print("Yes the key exist")

Yes the key exist

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}
mydict.update({"employee":"Sean"})

In [ ]:
print(mydict)

{'employee': 'Sean', 'department': 'operations', 'Salary': 5000}

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000}
mydict.update({"status":"Permanent"})
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'Salary': 5000, 'status': 'Permanent'}

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000,"status":"permanent"}
del mydict["status"]
print(mydict)

{'employee': 'Zara', 'department': 'operations', 'Salary': 5000}

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000,"status":"permanent"}
mydict.clear()
print(mydict)

{}

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000,"status":"permanent"}
for item in mydict.values():
  print(item)

Zara
operations
5000
permanent

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000,"status":"permanent"}
for item in mydict.keys():
  print(item)

employee
department
Salary
status

In [ ]:
mydict={"employee":"Zara","department":"operations","Salary": 5000,"status":"permanent"}
for keys, values in mydict.items():
  print(keys, values)

employee Zara
department operations
Salary 5000
status permanent

In [ ]:
mytuple=("Audi","Ford","Testa", 5000, True)

In [ ]:
type(mytuple)

tuple

In [ ]:
mytuple=("Audi","Ford","Testa", 5000, True)
mytuple[1]

'Ford'

In [ ]:
mytuple=("Audi","Ford","Testa", 5000, True)
mytuple[0:3]

('Audi', 'Ford', 'Testa')

In [ ]:
mytuple=("Audi","Ford","Testa", 5000, True)
mylist=list(mytuple)#chaning tuple to a list
mylist[0]="Toyota"
mytuple=tuple(mylist)#changing back to a tuple
print(mytuple)

('Toyota', 'Ford', 'Testa', 5000, True)

In [ ]:
mytuple=("Audi","Ford","Tesla", 5000, True)
mytuple.index("Tesla")

2

In [ ]:
mytuple=("Audi","Ford","Audi", "Tesla", "Audi", 5000, True)
mytuple.count("Audi")

3

In [ ]:
mytuple=("Audi","Ford","Audi", "Tesla", "Audi", 5000, True)
for i in mytuple:
  print(i)

Audi
Ford
Audi
Tesla
Audi
5000
True

In [ ]:
mytuple=("Audi","Ford","Tesla")#packing
car1, car2, car3=mytuple#unpacking
print(car1)
print(car2)
print(car3)

Audi
Ford
Tesla

In [ ]:
myset={"Audi","Ford","Audi", "Tesla", "Audi", 5000, True}#set doesn't count repeating values
print(myset)
len(myset)

{True, 5000, 'Tesla', 'Audi', 'Ford'}

5

In [ ]:
type(myset)

set

In [ ]:
myset={"Audi","Ford", "Tesla", 5000, True}
for i in myset:
  print(i)

True
5000
Tesla
Audi
Ford

In [ ]:
myset={"Audi","Ford", "Tesla", 5000, True}
myset.add("apples")
print(myset)

{True, 5000, 'Tesla', 'Audi', 'Ford', 'apples'}

In [ ]:
myset={"Audi","Ford", "Tesla", 5000, True}
myset.pop()
print(myset)

{5000, 'Tesla', 'Audi', 'Ford'}

In [ ]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.union(myset2)

{1, 2, 3, 4, 5, 6}

In [ ]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.intersection(myset2)

{3, 4}

In [ ]:
myset1={3,4}
myset2={1,2,3,4,5,6}
myset1.issubset(myset2)

True

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
import math

In [ ]:
import scipy

In [ ]:
import pyodc

ModuleNotFoundError: ignored

In [ ]:
!pip install pyodc
import pyodc

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyodc
  Downloading pyodc-1.1.4.tar.gz (26 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pyodc) (1.3.5)
Requirement already satisfied: cffi in /usr/local/lib/python3.7/dist-packages (from pyodc) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi->pyodc) (2.21)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pyodc) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pyodc) (1.15.0)
Building wheels for collected packages: pyodc
  Building wheel for pyodc (PEP 517) ... done
  Created wheel for pyodc: filename=pyodc-1.1.4-py3-none-any.whl size=28062 sha256=c3a80a491299f24e866e6f724bb489b5e5bb421b4fb010c98e94e30cb661cd21
  Stored in directory: /root/.cache/pip/wheels/cb/ea/82/e6d792d2557f2b621a829b888a93051f52894fb75b200bbb7c
Successfully built pyodc
Installing collected packages: pyodc
Successfully installed pyodc-1.1.4